<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- TestNg_Xml_File-->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG_FrameWork.Orange_HRM_Application"/>
      <class name="TestNG_FrameWork.Test_Case_1"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
